@model Jogador
    @{
        ViewData["Title"] = "Jogadores";
    }

    <div class="titulo_pagina">
            <h1>cadastro de @ViewData["Title"]</h1>
    </div>

<form class="cadastro" method="POST" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">

    <div class="campo">
        <label>ID Jogador</label>
        <input type="text" name="IdJogador" />
    </div>  

    <div class="campo">
        <label>Nome</label>
        <input type="text" name="Nome" />
    </div>

    <div class="campo">
        <label>ID Equipe</label>
        <input type="text" name="IdEquipe" />
    </div>

    <button class="gradient btn" type="submit">Cadastrar</button>

</form>

<table>
    <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>Foto</th>
        <th>Ações</th>
    </thead>
    <tbody>
        @foreach(Jogador j in ViewBag.Jogadores){
            <tr>
                <td>@j.IdJogador</td>
                <td>@j.Nome</td>
                <td>@j.IdJogador</td>
                <td>
                    <a asp-area="" asp-controller="Jogador" asp-action="Excluir" asp-route-id="@j.IdJogador">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>